.card {
  margin-left: 5%;
  margin-right: 5%;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  margin-bottom: 2rem;
  width: 90%;
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  background-color: #343434;
  padding: 1.5rem;
  justify-self: center;
  font-family: "corsario-variable", sans-serif;
}

.header {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  color: #fdffff;
  font-family: "corsario-variable", sans-serif;
}

.price {
  font-size: 3.75rem;
  line-height: 1;
  font-weight: 700;
  color: #fdffff
}

.desc {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
  line-height: 1.625;
  color: rgba(156, 163, 175, 1);
}

.lists {
  flex: 1 1 0%;
  color: rgba(156, 163, 175, 1);
}

.lists .list {
  margin-bottom: 0.5rem;
  display: flex;
  margin-left: 0.5rem
}

.lists .list svg {
  height: 1.5rem;
  width: 1.5rem;
  flex-shrink: 0;
  margin-right: 0.5rem;
  color: #ff8400;
}