body {
    background-color: #676767;
    color: #fdffff;
    font-family: "corsario-variable", sans-serif;
}

.texte {
    color: #fdffff;
    font-family: "corsario-variable", sans-serif;
    font-size: 14px;
}

main {
    margin-top: 6%;
}

h1 {
    font-size: 40px;
    font-family: alphabet-soup-pro, sans-serif;
}

h2 {
    font-family: alphabet-soup-pro, sans-serif;
}

button {
    font-family: "corsario-variable", sans-serif;
}

.header-home {
    height: 75px;
    margin-left: 5%;
    margin-right: 5%;
    position: sticky;
    top: 0;
}

.header-contact {
    height: 75px;
    margin-left: 5%;
    margin-right: 5%;
}

a {
    text-decoration: none;
    color: #fdffff;
}

.menu {
    display: flex;
    background-color: #343434;
    flex: 1;
    border-radius: 16px;
    color: #ff8400;
    margin-top: 25px;
    padding: 1.2vw;
    opacity: 95%;

}

.menu-left {
    display: flex;
    margin-left: 1.8%;
    transition: transform 0.1s ease-in-out;
    align-items: center;
}

.menu-body {
    flex: 1;
}

.menu-right {
    display: flex;
    align-content: center;
    margin-right: 1.8%;
    margin: auto;
    align-items: center;

}

.Bcontact {
    border: 0;
    text-decoration: none;
    background-color: #343434;
    color: #ff8400;
    font-size: 1.8vw;
    padding: 15px;
}


.Bservices {
    border-radius: 8px;
    background-color: #ff8400;
    border: 0;
    padding: 1.2vw;
    font-size: 1.8vw;
    color: #fdffff;
    margin-top: 2%;
    margin-bottom: 2%;

}

.menu-left:hover {
    transform: scale(1.2);
}

.accueil {
    border: 0;
    text-decoration: none;
    color: #ff8400;
    font-size: 4vw;
    padding: 5px;
    font-family: alphabet-soup-pro, sans-serif;
}

.titre {
    display: flex;
    background-color: #343434;
    width: 90%;
    height: 475px;
    margin-left: 5%;
    margin-top: 3%;
    border-radius: 16px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.section2 {
    display: flex;
    background-color: #343434;
    width: 90%;
    height: 475px;
    margin-left: 5%;
    margin-top: 3%;
    border-radius: 16px;
}

.Ttexte {
    font-size: 6vw;
    margin: 0px;
    text-shadow: 1px 30px 10px black;
}

.sous_titre {
    margin-left: 5%;
    margin-top: 3%;
    font-family: alphabet-soup-pro, sans-serif;
    font-size: 4vw;
    text-shadow: 3px 3px black;
}

.sous_titre2 {
    flex: 1;
}

.sous_titre3 {
    width: 1vw;
    display: flex;
    background-color: #343434;
    width: 40%;
    height: 90%;
    margin-top: 1%;
    margin-right: 3%;
    border-radius: 16px;
    background-image: url(/img/photo_gnt.avif);
    background-size: cover;
    background-position: center;
    align-self: center;
}

#video-fond {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: -1;
}

#video-fond video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translate(-50%, -50%);
    object-fit: cover;
}

.nyan-section {
    background-image: url(nyan-cat-gif-1.gif);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
}

input[type=text], input[type=date], input[type=time], input[type=number], input[type=tel], input[type=email], select, textarea {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.contact-hero, .contact-form {
    margin-left: 5%;
    margin-right: 5%;
}

fieldset {
    margin-bottom: 4vh;
    background-color: #343434;
    border-radius: 10px;
}

.submit{
    display: flex;
    margin-top: 2vh;
    justify-self: center;
    padding: 2vh;
    border-radius: 10px;
    border-style: none;
    text-decoration: underline;
    background-color: #ff8400;
}

.checkbox{
    display: flex;
    justify-self: center;
}