body {
    background-color: #676767;
    color: #fdffff;
    font-family: "corsario-variable",sans-serif;
}

h1 {
    font-size: 40px;
    font-family: alphabet-soup-pro, sans-serif;
}

button {
    font-family: "corsario-variable",sans-serif;
}

header {
    height: 75px;
    margin-left: 10%;
    margin-right: 10%;
}

.menu {
    display: flex;
    background-color: #343434;
    flex: 1;
    border-radius: 16px;
    color: #ff8400;
    margin-top: 25px;
    padding: 8px;
}

.menu-left {
    margin-left: 1.8%;
}

.menu-body {
    flex: 1;
}

.menu-right {
    align-content: center;
    margin-right: 1.8%;

}

.Bcontact {
    border: 0;
    text-decoration: none;
    background-color: #343434;
    color: #ff8400;
    font-size: 16px;
    padding: 5px;
}


.Bservices {
    border-radius: 8px;
    background-color: #ff8400;
    border: 0;
    padding: 10px;
    font-size: 16px;
    color: #fdffff;
    margin-top: 2%;
    margin-bottom: 2%;
}

.accueil {
    border: 0;
    text-decoration: none;
    color: #ff8400;
    font-size: 40px;
    padding: 5px;
    font-family: alphabet-soup-pro, sans-serif;
}