body {
    background-color: #676767;
    color: #fdffff;
    font-family: "corsario-variable",sans-serif;
}

h1 {
    font-size: 40px;
    font-family: alphabet-soup-pro, sans-serif;
}

button {
    font-family: "corsario-variable",sans-serif;
}

header {
    height: 75px;
    margin-left: 5%;
    margin-right: 5%;
    position: sticky;
    top: 0;
}

.menu {
    display: flex;
    background-color: #343434;
    flex: 1;
    border-radius: 16px;
    color: #ff8400;
    margin-top: 25px;
    padding: 8px;
    opacity: 95%;
    
}

.menu-left {
    margin-left: 1.8%;
    transition: transform 0.1s ease-in-out;
}

.menu-body {
    flex: 1;
}

.menu-right {
    align-content: center;
    margin-right: 1.8%;
    

}

.Bcontact {
    border: 0;
    text-decoration: none;
    background-color: #343434;
    color: #ff8400;
    font-size: 1.8vw;
    padding: 5px;
}


.Bservices {
    border-radius: 8px;
    background-color: #ff8400;
    border: 0;
    padding: 10px;
    font-size: 1.8vw;
    color: #fdffff;
    margin-top: 2%;
    margin-bottom: 2%;
    
}

.menu-left:hover{
    transform: scale(1.2);
}

.accueil {
    border: 0;
    text-decoration: none;
    color: #ff8400;
    font-size: 4vw;
    padding: 5px;
    font-family: alphabet-soup-pro, sans-serif;
}

.titre {
    display: flex;
    background-color: #343434;
    width: 90%;
    height: 475px;
    margin-left: 5%;
    margin-top: 3%;
    border-radius: 16px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.section {
    display: flex;
    background-color: #343434;
    width: 90%;
    height: 475px;
    margin-left: 5%;
    margin-top: 3%;
    border-radius: 16px;
}

.Ttexte {
    font-size: 6vw;
    margin: 0px;
}

.arrow {
    margin-top: 40px;
    font-size: 4vw;
}